<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Display All Recipes</title>
</head>
<body>
  <H1>Recipes</H1>
  <table border="1">
    <thead>
    <tr>
      <th>&nbsp Id &nbsp</th>
      <th>&nbsp Food &nbsp</th>
      <th>&nbsp Ingredient &nbsp</th>
      <th>&nbsp Delete &nbsp</th>
      <th>&nbsp Edit &nbsp</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "recipe : ${recipes}">
      <td th:text = "${recipe.id}"></td>
      <td th:text = "${recipe.food.name}"></td>
      <td th:text = "${recipe.ingredient.name}"></td>
      <td>
        <form action="#" th:action="@{/deleteRecipe}" method="get">
          <input type = "hidden" name ="index" th:value="${recipe.id}">
          <input type="submit" value="Delete" />
        </form>
      </td>
      <td>
        <form action="#" th:action="@{/modifyRecipe}" method="get">
          <input type = "hidden" name ="index" th:value="${recipe.id}">
          <input type="submit" value="Edit" />
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <form action="#" th:action="@{/newRecipe}" method="get">
    <input type="submit" value="new Recipe" />
  </form>
  <form action="#" th:action="@{/home}" method="get">
    <input type="submit" value="Home" />
  </form>
</body>
</html>