<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Ingredient</title>
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th>&nbsp Name &nbsp</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text = "${ingredient.id}"></td>
    <td th:text = "${ingredient.name}"></td>
  </tr>
  </tbody>
</table>
<table>
  <td>
    <a href="/allIngredients">Back</a>
  </td>
  <td>
    <!--        HTML Does not recognize Put or Delete, so you have to do it via post and the name="_method" value = "post/delete"-->
    <form th:action="@{/deleteIngredient}" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="ingredientId" th:value="${ingredient.id}" />
      <input type="submit" value="Confirm Delete" />
    </form>
  </td>
</table>
</body>
</html>